:root {
    --primary-color: #000;
    --primary-text-color: #fff;
    --complementary-text-color: #ffbd39;
    --font-size: 13px;
}

.my-button {
    outline: none;
    border-radius: 1em;
}

.my-container {
    background-color: black;
    align-items: center;
    height: 100% !important;
    width: 100% !important;
    color: white;
}

.heading {
    font-size: 46px;
    color: white;
    font-weight: bold;

}

.section-intro {
    transition: transform 3s;
}

@import "milestone.css"